.introjs-tooltip {
    color: black;
    max-width: 600px;
    width: auto;
    padding: 15px;
}

.introjs-tooltip .introjs-title {
    color: black;
    font-weight: bold;
}

.introjs-tooltip .introjs-helperLayer {
    background: white;
}

.introjs-right {
    width: 600px;
}

.introjs-skipbutton {
    width: 100px;
}